@font-face {
  font-family: "Shrikhand";
  src: url(../Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: "Roboto_black";
  src: url(../Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto_light";
  src: url(../Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto_thin";
  src: url(../Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto_bold";
  src: url(../Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto_regular";
  src: url(../Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto_medium";
  src: url(../Roboto/Roboto-Medium.ttf);
}

body {
  min-width: 320px;
  margin: 0px auto;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.logo svg {
  fill: black;
}

.logo i {
  position: absolute;
  left: 0px;
  margin-left: 10px;
  font-size: 24px;
  line-height: 1.5;
}

#carte {
  background-color: #e4e0e0;
  padding-top: 10px;
  padding-bottom: 40px;
  margin: 0px;
}

.tete {
  position: relative;
}

.tete .image_carte img {
  width: 100%;
}

.titre_carte {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #e4e0e0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.titre_carte h1 {
  margin: 20px 40px 10px 15px;
  font-family: "Shrikhand", "Courier New", Courier, monospace;
  font-size: 22px;
  font-weight: normal;
}

.coeur {
  float: right;
}

.coeur .far {
  font-size: 24px;
  color: black;
}

.coeur .fas {
  display: none;
  font-size: 25px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #ff79da), color-stop(83%, #9356dc));
  background-image: linear-gradient(to bottom, #ff79da 27%, #9356dc 83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: coeur 0.4s ease-in;
          animation: coeur 0.4s ease-in;
}

.coeur:active .far {
  display: none;
}

.coeur:active .fas {
  display: inline;
}

@-webkit-keyframes coeur {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(68%, rgba(182, 97, 219, 0)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(182, 97, 219, 0) 68%, #9356dc 100%);
  }
  10% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(50%, rgba(202, 104, 219, 0)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(202, 104, 219, 0) 50%, #9356dc 100%);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(35%, rgba(218, 109, 219, 0)), color-stop(67%, #b762db), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(218, 109, 219, 0) 35%, #b762db 67%, #9356dc 100%);
  }
  30% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(22%, rgba(232, 114, 218, 0)), color-stop(59%, #c065db), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(232, 114, 218, 0) 22%, #c065db 59%, #9356dc 100%);
  }
  50% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(10%, rgba(245, 118, 218, 0)), color-stop(26%, #e470da), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(245, 118, 218, 0) 10%, #e470da 26%, #9356dc 100%);
  }
  70% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(3%, rgba(253, 120, 218, 0)), color-stop(17%, #ee73da), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(253, 120, 218, 0) 3%, #ee73da 17%, #9356dc 100%);
  }
  90% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 121, 218, 0)), color-stop(1%, rgba(255, 121, 218, 0.11)), color-stop(9%, #f676da), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 0%, rgba(255, 121, 218, 0.11) 1%, #f676da 9%, #9356dc 100%);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), color-stop(1%, #ff79da), to(#9356dc));
    background-image: linear-gradient(to bottom, #ff79da 0%, #ff79da 1%, #9356dc 100%);
  }
}

@keyframes coeur {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(68%, rgba(182, 97, 219, 0)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(182, 97, 219, 0) 68%, #9356dc 100%);
  }
  10% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(50%, rgba(202, 104, 219, 0)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(202, 104, 219, 0) 50%, #9356dc 100%);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(35%, rgba(218, 109, 219, 0)), color-stop(67%, #b762db), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(218, 109, 219, 0) 35%, #b762db 67%, #9356dc 100%);
  }
  30% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(22%, rgba(232, 114, 218, 0)), color-stop(59%, #c065db), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(232, 114, 218, 0) 22%, #c065db 59%, #9356dc 100%);
  }
  50% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(10%, rgba(245, 118, 218, 0)), color-stop(26%, #e470da), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(245, 118, 218, 0) 10%, #e470da 26%, #9356dc 100%);
  }
  70% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(3%, rgba(253, 120, 218, 0)), color-stop(17%, #ee73da), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(253, 120, 218, 0) 3%, #ee73da 17%, #9356dc 100%);
  }
  90% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 121, 218, 0)), color-stop(1%, rgba(255, 121, 218, 0.11)), color-stop(9%, #f676da), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 0%, rgba(255, 121, 218, 0.11) 1%, #f676da 9%, #9356dc 100%);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), color-stop(1%, #ff79da), to(#9356dc));
    background-image: linear-gradient(to bottom, #ff79da 0%, #ff79da 1%, #9356dc 100%);
  }
}

.menu_1, .menu_2, .menu_3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 98%;
  margin: 0px auto;
}

.titre_menu {
  position: relative;
  background-color: white;
  height: 65px;
  margin: 10px 10px;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 2px 4px 9px #aaa8a8;
          box-shadow: 2px 4px 9px #aaa8a8;
  cursor: pointer;
  overflow: hidden;
  -webkit-animation: menu 0.8s ease-out;
          animation: menu 0.8s ease-out;
}

@-webkit-keyframes menu {
  from {
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes menu {
  from {
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes textmenu {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes textmenu {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.titre_menu h4 {
  margin: 5px 0px 0px 15px;
  padding-top: 6px;
  padding-right: 20px;
  max-width: 75%;
  font-family: "Roboto_bold";
  font-size: 16px;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: textmenu 0.8s;
          animation: textmenu 0.8s;
}

.titre_menu p {
  overflow: hidden;
  margin: 0px 0px 0px 15px;
  padding-right: 10px;
  max-width: 70%;
  font-size: 14px;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto_regular";
  -webkit-animation: 0.3s textmenu;
          animation: 0.3s textmenu;
}

.titre_menu .prix {
  position: absolute;
  right: 10px;
  bottom: 8px;
  margin: 0px 10px 0px 10px;
  font-family: "Roboto_bold";
  font-size: 18px;
  cursor: pointer;
  -webkit-animation: 1s textmenu;
          animation: 1s textmenu;
}

.titre_menu .choix {
  position: absolute;
  right: -70px;
  top: 0px;
  width: 70px;
  height: 100%;
  text-align: center;
  line-height: 3.2;
  color: #ffffff;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #71d7be;
}

.titre_menu:hover .prix {
  margin: 0px;
  -webkit-animation: 0.45s ease-out  0s choix both;
          animation: 0.45s ease-out  0s choix both;
}

.titre_menu:hover .choix {
  -webkit-animation: 0.5s ease-out  0s choix both;
          animation: 0.5s ease-out  0s choix both;
}

.titre_menu:hover .choix i {
  -webkit-animation: 0.38s ease-in-out  0.15s anim-icon;
          animation: 0.38s ease-in-out  0.15s anim-icon;
}

.titre_menu:hover h4 {
  margin-right: 60px;
}

.titre_menu:hover p {
  margin-right: 150px;
}

@-webkit-keyframes choix {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
}

@keyframes choix {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
}

@-webkit-keyframes anim-icon {
  from {
    -webkit-transform: rotate(-0.8turn);
            transform: rotate(-0.8turn);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes anim-icon {
  from {
    -webkit-transform: rotate(-0.8turn);
            transform: rotate(-0.8turn);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.txt_menu h3 {
  padding-top: 6px;
  margin: 30px 0px 5px 10px;
  font-family: "Roboto_bold";
  font-size: 16px;
}

.ligne {
  width: 60px;
  height: 4px;
  margin: 0px 0px 20px 10px;
  background-color: #99e2d0;
}

.bouton {
  font-family: "Roboto_regular";
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ff79da), color-stop(100%, #9356dc), color-stop(100%, #9356dc), to(#9356dc));
  background-image: linear-gradient(to bottom, #ff79da 1%, #9356dc 100%, #9356dc 100%, #9356dc 100%);
  width: 220px;
  height: 55px;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 2px 4px 9px #aaa8a8;
          box-shadow: 2px 4px 9px #aaa8a8;
  margin: 50px auto 90px auto;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

.bouton:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fd99e1), to(#a170dd));
  background: linear-gradient(#fd99e1, #a170dd);
  -webkit-box-shadow: 2px 4px 9px #616060;
          box-shadow: 2px 4px 9px #616060;
}

.bouton p {
  font-family: "Roboto_light";
  font-size: 20px;
  text-align: center;
  margin: 0px;
  line-height: 2.6;
}

footer {
  margin: 0%;
  padding: 0%;
}

footer .logo {
  text-align: left;
  padding: 10px 0px 0px 30px;
}

footer .logo svg {
  width: 150px;
  height: 60px;
  fill: #ffffff;
}

footer .logo ul {
  list-style-type: none;
}

.cadre_footer {
  background-color: #0a0a0a;
}

.list_footer {
  list-style-type: none;
  font-size: 18px;
  color: white;
  padding: 0px 0px 20px 30px;
  margin: 0px;
  color: white;
}

.list_footer i {
  margin-right: 10px;
}

.list_footer li {
  padding-bottom: 10px;
}

.list_footer li a {
  color: #ffffff;
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 700px) {
  .titre_menu {
    height: 135px;
  }
  .titre_menu .choix {
    line-height: 4.5;
    font-size: 30px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 20px;
  }
  .menu h4 {
    margin: 5px 0px 5px 15px;
    font-size: 16px;
    line-height: 1.2;
    text-overflow: clip;
    white-space: pre-line;
  }
  .menu p {
    margin-right: 50px;
    text-overflow: clip;
    white-space: pre-line;
    font-size: 14px;
    line-height: 1.4;
  }
  .menu_1, .menu_2, .menu_3 {
    width: 32%;
    margin: 20px 0px;
  }
  .txt_menu h3 {
    font-size: 22px;
  }
  .prix {
    font-size: 26px;
    top: 100px;
  }
  .titre_menu:hover h4 {
    margin-right: 60px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .titre_menu:hover p {
    text-overflow: ellipsis;
    white-space: wrap;
  }
  .titre_carte h1 {
    font-size: 30px;
  }
  .coeur .far {
    font-size: 36px;
  }
  .coeur .fas {
    font-size: 37px;
  }
  /*----------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------*/
  /*--------------------@media query--------------------------------------------------*/
  /*----------------------------------------------------------------------------------*/
  /*----------------------------------------------------------------------------------*/
}

@media screen and (min-width: 700px) and (min-width: 990px) {
  .titre_menu {
    height: 110px;
  }
  .titre_menu h4 {
    font-size: 18px;
  }
  .titre_menu p {
    font-size: 16px;
  }
  .titre_menu .prix {
    font-size: 22px;
    top: 60px;
  }
  .titre_menu .choix {
    line-height: 4;
    font-size: 28px;
  }
}
/*# sourceMappingURL=la_palette.css.map */