@font-face {
  font-family: "Shrikhand";
  src: url(../Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: "Roboto_black";
  src: url(../Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto_light";
  src: url(../Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto_thin";
  src: url(../Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto_bold";
  src: url(../Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto_regular";
  src: url(../Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto_medium";
  src: url(../Roboto/Roboto-Medium.ttf);
}

body {
  margin: 0px;
  padding: 0px;
}

.logo {
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.logo svg {
  fill: black;
}

.logo i {
  vertical-align: middle;
}

#carte {
  background-color: #e4e0e0;
  padding-top: 10px;
  padding-bottom: 40px;
}

.tete {
  position: relative;
}

.tete .image_carte img {
  width: 100%;
}

.tete .titre_carte {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  background-color: #e4e0e0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tete .titre_carte h1 {
  margin: 10px 40px 10px 15px;
  font-family: "Shrikhand", "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: normal;
}

.tete .coeur {
  position: absolute;
  right: 30px;
  top: 10px;
}

.tete .far {
  font-size: 30px;
  color: black;
}

.tete .fas {
  display: none;
  font-size: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #ff79da), color-stop(83%, #9356dc));
  background-image: linear-gradient(to bottom, #ff79da 27%, #9356dc 83%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: test 0.5s ease-in;
          animation: test 0.5s ease-in;
}

.tete .coeur:active .far {
  display: none;
}

.tete .coeur:active .fas {
  display: inline;
}

@-webkit-keyframes test {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, rgba(255, 121, 218, 0)), color-stop(47%, rgba(216, 109, 219, 0)), color-stop(63%, rgba(185, 99, 219, 0)), color-stop(83%, rgba(147, 86, 220, 0.54)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 27%, rgba(216, 109, 219, 0) 47%, rgba(185, 99, 219, 0) 63%, rgba(147, 86, 220, 0.54) 83%, #9356dc 100%);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, rgba(255, 121, 218, 0)), color-stop(40%, rgba(230, 113, 218, 0)), color-stop(83%, rgba(147, 86, 220, 0.72)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 27%, rgba(230, 113, 218, 0) 40%, rgba(147, 86, 220, 0.72) 83%, #9356dc 100%);
  }
  40% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(21%, rgba(255, 121, 218, 0)), color-stop(27%, rgba(255, 121, 218, 0.08)), color-stop(83%, rgba(147, 86, 220, 0.79)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 21%, rgba(255, 121, 218, 0.08) 27%, rgba(147, 86, 220, 0.79) 83%, #9356dc 100%);
  }
  60% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(9%, rgba(255, 121, 218, 0.09)), color-stop(27%, rgba(255, 121, 218, 0.27)), color-stop(83%, rgba(147, 86, 220, 0.83)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0.09) 9%, rgba(255, 121, 218, 0.27) 27%, rgba(147, 86, 220, 0.83) 83%, #9356dc 100%);
  }
  80% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 121, 218, 0.09)), color-stop(27%, rgba(255, 121, 218, 0.34)), color-stop(83%, rgba(147, 86, 220, 0.85)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0.09) 0%, rgba(255, 121, 218, 0.34) 27%, rgba(147, 86, 220, 0.85) 83%, #9356dc 100%);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #ff79da), color-stop(83%, #9356dc));
    background-image: linear-gradient(to bottom, #ff79da 27%, #9356dc 83%);
  }
}

@keyframes test {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, rgba(255, 121, 218, 0)), color-stop(47%, rgba(216, 109, 219, 0)), color-stop(63%, rgba(185, 99, 219, 0)), color-stop(83%, rgba(147, 86, 220, 0.54)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 27%, rgba(216, 109, 219, 0) 47%, rgba(185, 99, 219, 0) 63%, rgba(147, 86, 220, 0.54) 83%, #9356dc 100%);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, rgba(255, 121, 218, 0)), color-stop(40%, rgba(230, 113, 218, 0)), color-stop(83%, rgba(147, 86, 220, 0.72)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 27%, rgba(230, 113, 218, 0) 40%, rgba(147, 86, 220, 0.72) 83%, #9356dc 100%);
  }
  40% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(21%, rgba(255, 121, 218, 0)), color-stop(27%, rgba(255, 121, 218, 0.08)), color-stop(83%, rgba(147, 86, 220, 0.79)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 21%, rgba(255, 121, 218, 0.08) 27%, rgba(147, 86, 220, 0.79) 83%, #9356dc 100%);
  }
  60% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(9%, rgba(255, 121, 218, 0.09)), color-stop(27%, rgba(255, 121, 218, 0.27)), color-stop(83%, rgba(147, 86, 220, 0.83)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0.09) 9%, rgba(255, 121, 218, 0.27) 27%, rgba(147, 86, 220, 0.83) 83%, #9356dc 100%);
  }
  80% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 121, 218, 0.09)), color-stop(27%, rgba(255, 121, 218, 0.34)), color-stop(83%, rgba(147, 86, 220, 0.85)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0.09) 0%, rgba(255, 121, 218, 0.34) 27%, rgba(147, 86, 220, 0.85) 83%, #9356dc 100%);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #ff79da), color-stop(83%, #9356dc));
    background-image: linear-gradient(to bottom, #ff79da 27%, #9356dc 83%);
  }
}

.menu {
  position: relative;
  margin-left: 10px;
}

.menu h3 {
  font-family: "Roboto_regular";
  text-transform: uppercase;
  font-size: 11px;
  margin: 20px 0px 30px 10px;
}

.ligne {
  position: absolute;
  top: 20px;
  width: 30px;
  height: 10px;
  color: black;
}

.titre_menu {
  position: relative;
  background-color: white;
  width: 90%;
  height: 40px;
  margin: 10px 10px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 9px #aaa8a8;
          box-shadow: 2px 4px 9px #aaa8a8;
  cursor: pointer;
  overflow: hidden;
  -webkit-animation: menu 0.8s ease-out;
          animation: menu 0.8s ease-out;
}

@-webkit-keyframes menu {
  from {
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes menu {
  from {
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes textmenu {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes textmenu {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

h3 {
  font-family: "Roboto_bold";
  font-size: 12px;
  margin: 0px 0px 3px 10px;
  padding-top: 6px;
}

h4 {
  font-family: "Roboto_bold";
  font-size: 11px;
  margin: 0px 0px 2px 10px;
  padding-top: 6px;
  -webkit-animation: textmenu 0.8s;
          animation: textmenu 0.8s;
}

p {
  font-family: "Roboto_regular";
  margin: 0px 0px 0px 10px;
  font-size: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: 0.3s textmenu;
          animation: 0.3s textmenu;
}

.prix {
  position: absolute;
  right: 10px;
  top: 20px;
  font-family: "Roboto_bold";
  font-size: 12px;
  cursor: pointer;
  -webkit-animation: 1s textmenu;
          animation: 1s textmenu;
}

.choix {
  display: inline;
  position: absolute;
  right: -40px;
  top: 00px;
  width: 40px;
  height: 100%;
  text-align: center;
  color: white;
  line-height: 2.5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #71d7be;
}

.titre_menu:hover .prix {
  margin-right: 40px;
  -webkit-transition: margin-right 0.3s ease-out;
  transition: margin-right 0.3s ease-out;
}

.titre_menu:hover .choix {
  display: inline;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.titre_menu:hover .choix i {
  -webkit-animation: 0.4s ease-in-out  0.1s anim-icon;
          animation: 0.4s ease-in-out  0.1s anim-icon;
}

.titre_menu:hover p {
  margin-right: 80px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@-webkit-keyframes anim-icon {
  from {
    -webkit-transform: rotate(-0.8turn);
            transform: rotate(-0.8turn);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes anim-icon {
  from {
    -webkit-transform: rotate(-0.8turn);
            transform: rotate(-0.8turn);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.bouton {
  font-family: "Roboto_regular";
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ff79da), color-stop(100%, #9356dc), color-stop(100%, #9356dc), to(#9356dc));
  background-image: linear-gradient(to bottom, #ff79da 1%, #9356dc 100%, #9356dc 100%, #9356dc 100%);
  width: 140px;
  height: 35px;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 2px 4px 9px #aaa8a8;
          box-shadow: 2px 4px 9px #aaa8a8;
  margin: 30px auto  00px auto;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

.bouton:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fd99e1), to(#a170dd));
  background: linear-gradient(#fd99e1, #a170dd);
  -webkit-box-shadow: 2px 4px 9px #616060;
          box-shadow: 2px 4px 9px #616060;
}

.bouton p {
  font-family: "Roboto_light";
  font-size: 12px;
  text-align: center;
  margin: 0px;
  padding-top: 10px;
}

footer {
  margin: 0%;
  padding: 0%;
}

footer .logo {
  text-align: left;
  padding: 10px 0px 0px 30px;
}

footer .logo svg {
  width: 90px;
  height: 40px;
  fill: #ffffff;
}

footer .logo ul {
  list-style-type: none;
}

.cadre_footer {
  background-color: #0a0a0a;
}

.list_footer {
  list-style-type: none;
  font-size: 12px;
  color: white;
  padding: 0px 0px 20px 30px;
  margin: 0px;
  color: white;
}

.list_footer i {
  margin-right: 10px;
}

.list_footer li {
  padding-bottom: 10px;
}
/*# sourceMappingURL=la_palette.css.map */