@import "page_import.scss";


body{
    max-width: 1080px;
    min-width: 270px;
    margin: 0px auto;
    padding: 0px;
}
a{
    text-decoration: none;
    color: black;
}

.logo{
    position: relative;
    width: 100%;
   
    text-align: center;
   padding: 20px 0px 10px 0px;
  svg{
    width: 30%;
    height: 30%;
      fill: black;
  }
  i{
      position: absolute;
      left: 30px;
    top: 35%;
      font-size: 30px;
 
  }
}
#carte{
    background-color: $couleur_gris;
    padding-top: 10px;
    padding-bottom: 40px;
    margin: 0px;

  }

.tete{ 
    position: relative;
 .image_carte{

    img{
        width: 100%;
    } 
}
.titre_carte{
    position: absolute;
    bottom: 0px;
    width: 100%;
   
    background-color: $couleur_gris;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;

    h1{ 
        margin: 20px 40px 10px 40px;
        font-family: $font_Shrikhand, 'Courier New', Courier, monospace;
        font-size: 34px;
        font-weight: normal;   
    } 
}
.coeur {
    position: absolute;
    right: 104px;
    top: 22px;
   
    
    
    } 
    .far{
        font-size: 40px;
        color:black;
        
    }
    .fas{
        display:none;
        font-size: 39px;
        background-image:linear-gradient(to bottom, $couleur_secondaire 27%,$couleur_primaire 83%);
        -webkit-text-fill-color:transparent;
        -webkit-background-clip:text;
    animation: test 0.5s ease-in;
    }
    .coeur:active{
      .far{display: none;}
      .fas{display: inline;
    }
    }
    

    @keyframes test {
        0%{
            background-image:linear-gradient(to bottom, rgba(255,121,218,0) 27%,rgba(216,109,219,0) 47%,rgba(185,99,219,0) 63%,rgba(147,86,220,0.54) 83%,rgba(147,86,220,1) 100%);
        }
        20%{
            background-image:linear-gradient(to bottom, rgba(255,121,218,0) 27%,rgba(230,113,218,0) 40%,rgba(147,86,220,0.72) 83%,rgba(147,86,220,1) 100%);
        }
        40%{
            background-image:linear-gradient(to bottom, rgba(255,121,218,0) 21%,rgba(255,121,218,0.08) 27%,rgba(147,86,220,0.79) 83%,rgba(147,86,220,1) 100%);
        }
        60%{
            background-image:linear-gradient(to bottom, rgba(255,121,218,0.09) 9%,rgba(255,121,218,0.27) 27%,rgba(147,86,220,0.83) 83%,rgba(147,86,220,1) 100%);
        }
        80%{
            background-image:linear-gradient(to bottom, rgba(255,121,218,0.09) 0%,rgba(255,121,218,0.34) 27%,rgba(147,86,220,0.85) 83%,rgba(147,86,220,1) 100%);
        }
        100%{
            background-image:linear-gradient(to bottom, rgba(255,121,218,1) 27%,rgba(147,86,220,1) 83%);
        }
    }

    }
    .menu{  
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      
     
    }
.menu_1, .menu_2, .menu_3{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 33%;
        margin: 0px auto;
    }
    
.ligne{
    position: absolute;
    top: 33px;
    width: 60px;
    height: 4px;
    margin: 0px 0px 0px 17px;
    background-color: $couleur_tertiaire;
 }
.titre_menu{
    position: relative;
    background-color: white;
    height: 130px;
    margin: 10px 10px;
    border: none;
    border-radius: 25px;
    box-shadow:  $shadow;
    cursor: pointer;
    overflow: hidden;
    animation: menu 0.8s ease-out;
}
      @keyframes menu {
        from{
            opacity: 0;
            transform: translateY(8px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }
        @keyframes textmenu {
            from{
                opacity: 0;
                transform: translateY(15px);
            }
            to{
                opacity: 1;
                transform: translateY(0px);
            }
    } 
    .txt_menu h3{
        font-size: 20px;
        margin: 0px 0px 20px 17px;
    }    
  h3{
        font-family: $font_bold;
        font-size: 12px;
        margin: 0px 0px 3px 10px;
        padding-top: 6px;
        
        
    }
    h4{
        font-family: $font_bold;
        font-size: 20px;
       
        margin: 10px 0px 2px 20px;
        padding-top: 6px;
        padding-right: 20px;
       
        overflow: hidden;
        animation: textmenu 0.8s ;
    }
    p{
        font-family:  $font_regular;
        margin: 0px 60px 0px 20px;
        font-size: 18px;
        line-height: 1.2;
        
        padding-right: 10px;
      
        overflow: hidden;
        animation: 0.3s textmenu ;
    }
    
    .prix{
        position: absolute;
        right:0px;
        top: 70px;
       
        margin: 0px 20px 0px 10px;
        font-family: $font_bold;
        font-size: 24px;
        cursor: pointer;
        animation: 1s textmenu ;
    }
    .choix{
       

        position: absolute;
        right: -80px;
        top: 0px;
        width: 80px;
        height: 100%;
    
        text-align: center;
        font-size: 30px;
        color: white;
        line-height: 4;
        border-top-right-radius: $radius1;
        border-bottom-right-radius: $radius1;
        background-color: darken($color: $couleur_tertiaire, $amount: 10);
       
    }
.titre_menu:hover{


    .prix{
        animation: 0.45s ease-in  0s choix both;
        
    }
.choix{
   
    animation: 0.5s ease-out  0s choix both;
}
.choix i{
   
    animation: 0.38s ease-in-out  0.15s anim-icon ;

}
h4{
    margin-right: 60px;
}
p{
    margin-right: 140px;
   
}

}
@keyframes choix {
    from{
        transform: translateX(0px)  ;
       
    }
    to{
        transform: translateX(-80px)  ;
       
    }
}
@keyframes anim-icon {
    from{
        transform: rotate(-0.8turn) ;
       
    }
    to{
        transform: rotate(0) ;
       
    }
}


.bouton{

    font-family:   $font_regular;
    background-image:$degrade;
    width: 260px;
    height: 55px; 
    border-radius: 25px;
    border: none;
    box-shadow: $shadow;
    margin: 30px auto  00px auto;
    cursor: pointer;
    transition:0.3s;
    @if (lightness($couleur_primaire) > 50%) {
        color:white;
        }
        @else {
        color: black;
        }
        
        &:hover{
                background:  $hover_bouton_couleur;
                box-shadow: $hover_bouton_shadow 
                
                }  
        p{
            font-family:$font_light;
            font-size: 20px;
            text-align: center;
            margin: 0px;
            line-height: 2.6;
        }
        
        
}




  footer{
    margin: 0%;
    padding: 0%;
    .logo{ 
        text-align: left;
        padding: 10px 0px 0px 30px;

        svg{ 
            width: 150px;
            height: 60px; 
        @if (lightness($couleur_footer) > 50%) {
            fill: black;
            }
            @else {
            fill:#ffffff;
            }
        }
        ul{
            list-style-type: none;
        }}
    }


.cadre_footer{
    background-color:$couleur_footer;

}
.list_footer{
    list-style-type: none;
    font-size: 18px;
    color: $couleur_txt_footer;
    padding: 0px 0px 20px 30px;

    margin: 0px;
    @if (lightness($couleur_footer) < 50%) {
        color:white;
        }
        @else {
        color: black;
        }
        i{
            margin-right: 10px;
        }
        li{
            padding-bottom: 10px;
        }
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 960px) {   
 .titre_menu{
     height: 100px;
 }
    .menu{  
      flex-direction: column;

    }
    .menu_1, .menu_2, .menu_3{
        width: 70%;
        margin: 20px 0px;
   } 
   .txt_menu h3{
  
       font-size:22px ;
   } 
   h4{
       font-size: 22px;
       margin-top: 10px;
   }
   p{
       font-size: 20px;
   }
   .prix{
    font-size: 22px; 
    top: 60px;
   }

.one {
left: 0%;
}
.two{
    left: 20% ;
}
.three{
    left: 40% ;
}

}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 700px) { 
    .menu_1, .menu_2, .menu_3{
        width: 100%;
   }   
    .titre_menu{
        width: 95%;
        height: 100px;
        margin: 15px auto;
    }
    .one, .two, .three{
        left: 0px;
    }
    .txt_menu h3{
  margin: 0px 0px 15px 17px;
        font-size:22px ;
    } 
    .choix{
        line-height: 3.4;
    }
    .tete .coeur {
        right: 55px;
    }
    h4{
        font-size: 26px;
        margin-top: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      
    }
    p{
        font-size: 22px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
       
    }
    .prix{
     font-size: 24px; 
     top: 50px;
    }
    
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 560px) { 
    .titre_menu{
        width: 95%;
        height: 90px;
        margin: 15px auto;
    }
    .txt_menu h3{
  
        font-size:20px ;
    } 
    .ligne{
        width: 50px;
        height: 3px;
    }
    h4{
        font-size: 22px;
        margin-top: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      
    }
    p{
        font-size: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
       
    }
    .prix{
     font-size: 22px; 
     top: 50px;
    }
    .choix{
        line-height: 3.2;
    }
   

}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 520px) { 
    .tete .titre_carte{
       
        h1{
            font-size: 30px;
            margin-left: 10px;
        }
    }
    .tete .coeur {
        top: 22px;
        right: 55px;
        .far{
            font-size: 35px;
          
            
        }
        .fas{
            font-size: 34px;
    }
}
.choix{
    line-height: 3;
}
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 470px) {
    .titre_menu{
    
        height: 80px;
       
    } 
    h4{
        font-size: 20px;
    }
    p{
        font-size: 18px;
    }
    .prix{
        font-size: 20px; 
        top: 40px;
       }
    .choix{
        line-height: 2.8;
        right: -70px;
        width: 70px;
    }
    @keyframes choix {
        from{
            transform: translateX(0px)  ;
           
        }
        to{
            transform: translateX(-70px)  ;
           
        }
    }
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 420px) {
    .tete .titre_carte{
       
        h1{
            font-size: 28px;
        
        }
    }
    .tete .coeur {
        right: 30px;
}
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 360px) {
    .tete .titre_carte{
       
        h1{
            font-size: 26px;
            margin-left: 10px;
        }
    }
    .tete .coeur {
        top: 27px;
        right: 27px;
        .far{
            font-size: 28px;
          
            
        }
        .fas{
            font-size: 28px;
    }
}
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 320px) {
    .tete .titre_carte{
       
        h1{
            font-size: 24px;
          
        }
    }
    .tete .coeur {
        top: 25px;
        right: 27px;
        .far{
            font-size: 24px;
          
            
        }
        .fas{
            font-size: 23px;
    }
    }
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 300px) {
    .tete .titre_carte{
       
        h1{
            font-size: 22px;
          
        }
    }
    .tete .coeur {
        top: 26px;
        
        .far{
            font-size: 22px;
          
            
        }
        .fas{
            font-size: 21px;
    }
    } 
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (max-width: 270px) {
.tete .coeur {
    top: 25px;
    right: 18px;
}
}