@import "page_import.scss";


body {
    min-width: 320px;
    margin: 0px auto;
    padding: 0px;
}
a {
    text-decoration: none;
    color: $couleur_loge
}
.logo {
    text-align: center;
    padding: 20px 0px 10px 0px;
    svg {
        fill: $couleur_loge;
    }   
    i {
      position: absolute;
      left: 0px;
      margin-left: 10px;
     
      font-size: 24px;
      line-height: 1.5;
    }
}
.carte {
    background-color: $couleur_gris;
    padding-top: 10px;
    padding-bottom: 40px;
    margin: 0px;
}
.tete { 
    position: relative;
    .image_carte {
        img {
            width: 100%;
        } 
    }
}
.titre_carte {
    position: absolute;
    bottom: 0px;
    width: 100%;
   
    background-color: $couleur_gris;
    border-top-left-radius:20px;
    border-top-right-radius: 20px;
    h1 { 
        margin: 20px 40px 10px 15px;
        font-family: $font_Shrikhand, 'Courier New', Courier, monospace;
        font-size: 22px;
        font-weight: normal;   
    } 
}
.coeur {
    float: right;
    .far {
        font-size: 24px;
        color:black;
    }
    .fas {
        display:none;
        font-size: 25px;
        background-image:linear-gradient(to bottom, $couleur_secondaire 27%,$couleur_primaire 83%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: coeur 0.4s ease-in both;
    }
}
.coeur:active {
      .far {
          display: none;
        }
      .fas {
          display: inline;
        }
}
@keyframes coeur {
    0% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 1%,rgba(182,97,219,0) 68%,rgba(147,86,220,1) 100%);
    }
    10% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 1%,rgba(202,104,219,0) 50%,rgba(147,86,220,1) 100%);
    }
    20% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 1%,rgba(218,109,219,0) 35%,rgba(183,98,219,1) 67%,rgba(147,86,220,1) 100%);
    }
    30% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 1%,rgba(232,114,218,0) 22%,rgba(192,101,219,1) 59%,rgba(147,86,220,1) 100%);
    }
    50% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 1%,rgba(245,118,218,0) 10%,rgba(228,112,218,1) 26%,rgba(147,86,220,1) 100%);
    }
    70% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 1%,rgba(253,120,218,0) 3%,rgba(238,115,218,1) 17%,rgba(147,86,220,1) 100%);
    }
    90% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 0%,rgba(255,121,218,0.11) 1%,rgba(246,118,218,1) 9%,rgba(147,86,220,1) 100%);
    }
    100% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,1) 0%,rgba(255,121,218,1) 1%,rgba(147,86,220,1) 100%);
    }
}

.menu_1, .menu_2, .menu_3 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0px auto;
}
    
.titre_menu {
    position: relative;
    background-color: $couleur_blanc;
    height: 65px;
    margin: 10px 10px;
    border: none;
    border-radius: $radius_cadre_menu;
    box-shadow:  $shadow;
    cursor: pointer;
    overflow: hidden; 
    h4 {
        margin: 5px 0px 0px 15px;
        padding-top: 6px;
        padding-right: 20px;
        max-width: 75%;
        font-family: $font_bold;
        font-size: 16px;
        line-height: 1.5;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      
        animation: textmenu 0.8s ease-out;
    }
    p {
        overflow: hidden;
        margin: 0px 0px 0px 15px;
        padding-right: 10px;
        max-width: 70%;
        font-size: 14px;
        line-height: 1.5;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-family:  $font_regular;
      
        animation: 0.3s textmenu ease-out;
    }
    @keyframes menu {
        from {
            opacity: 0;
            transform: translateY(15px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    @keyframes textmenu {
            from {
                opacity: 0; 
            }
            to {
                opacity: 1;
            }
    } 
    .prix {
        position: absolute;
        right: 10px;
        bottom: 8px;
        
        margin: 0px 10px 0px 10px;
        font-family: $font_bold;
        font-size: 18px;
        cursor: pointer;
        animation: 1s textmenu ;
    }
    .choix {
        position: absolute;
        right: -70px;
        top: 0px;
        width: 70px;
        height: 100%;
        text-align: center;
        line-height: 3.2;
        color: $couleur_blanc;
        font-size: 20px;
        border-top-right-radius: $radius1;
        border-bottom-right-radius: $radius1;
        background-color: darken($color: $couleur_tertiaire, $amount: 10);
    }
}
.one{
    animation: menu 0.4s ease-out ;
}
.two{
    animation: menu 0.7s ease-out ;
}
.three{
    animation: menu 1s ease-out ;
}
.titre_menu:hover {
    .prix {
        margin: 0px;
        animation: 0.45s ease-out  0s choix both;
    }
    .choix {
        animation: 0.5s ease-out  0s choix both;
    }
    .choix i {
        animation: 0.38s ease-in-out  0.15s anim-icon ;
    }
    h4 {
        margin-right: 60px;
    }
    p {
        margin-right: 150px;
    }
}
@keyframes choix {
    from{
        transform: translateX(0px)  ;
    }
    to{
        transform: translateX(-70px)  ;
    }
}
@keyframes anim-icon {
    from{
        transform: rotate(-0.8turn) ;
    }
    to{
        transform: rotate(0) ;
    }
}
.txt_menu h3 {
        padding-top: 6px;
        margin: 30px 0px 5px 10px;
        font-family: $font_bold;
        font-size: 16px;
}
.ligne {
    width: 60px;
    height: 4px;
    margin: 0px 0px 20px 10px;
    background-color: $couleur_tertiaire;
 }
.bouton {
    font-family:   $font_regular;
    background-image:$degrade;
    width: 220px;
    height: 55px; 
    border-radius: 25px;
    border: none;
    box-shadow: $shadow;
    margin: 50px auto 90px auto;
    cursor: pointer;
    transition:0.3s;
    /*si la couleur de fond du bouton s'eclairsi, le texte change de couleur*/
        @if (lightness($couleur_primaire) > 50%) {
        color:$couleur_blanc;
        }
        @else {
        color: $couleur_loge;
        }
        &:hover {
                background:  $hover_bouton_couleur;
                box-shadow: $hover_bouton_shadow     
        }  
        p {
            font-family:$font_light;
            font-size: 20px;
            text-align: center;
            margin: 0px;
            line-height: 2.6;
        }   
}
footer {
    margin: 0%;
    padding: 0%;
    .logo { 
        text-align: left;
        padding: 10px 0px 0px 30px;
        svg { 
            width: 150px;
            height: 60px; 
            @if (lightness($couleur_footer) > 50%) {
                fill: $couleur_loge
            }
            @else {
            fill:$couleur_blanc;
            }
        }
        ul{
            list-style-type: none;
        }
    }
}
footer {
    background-color:$couleur_footer;
}
.list_footer {
    list-style-type: none;
    font-size: 18px;
    color: $couleur_txt_footer;
    padding: 0px 0px 20px 30px;

    margin: 0px;
    @if (lightness($couleur_footer) < 50%) {
        color:$couleur_blanc;
        }
        @else {
        color: $couleur_loge;
        }
        i {
            margin-right: 10px;
        }
        li {
            padding-bottom: 10px;
            a {
                color: $couleur_blanc;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 700px) {   
    .titre_menu {
        height: 135px;
        .choix { 
            line-height: 4.5;
            font-size: 30px; 
        }
    }
    .menu {  
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 0px 20px;
        h4 {
            margin: 5px 0px 5px 15px;
            font-size: 16px;
            line-height: 1.2;
            text-overflow: clip;
            white-space: pre-line;
        }
       p {
        margin-right: 50px;
        text-overflow: clip;
        white-space: pre-line;
        font-size: 14px;
        line-height: 1.4;
        }
    }
    .menu_1, .menu_2, .menu_3 {
        width: 32%;
        margin: 20px 0px;
    } 
   .txt_menu h3 {
       font-size:22px ;
    } 
   .prix {
        font-size: 26px; 
        top: 100px;
    }
   .titre_menu:hover {
        h4 {
            margin-right: 60px;
            text-overflow: ellipsis;
 
            white-space: nowrap; 
        }
        p {
            text-overflow: ellipsis;
            white-space: normal;
        }
    }
    .titre_carte {
        h1 {
            font-size: 30px;  
        }
    }
    .coeur {
        .far {
            font-size: 36px;
        }
        .fas {
            font-size: 37px;
        }
    }
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 990px) { 
    .titre_menu {
        height: 110px;
        h4 {
            font-size: 18px;
        }
        p {
            font-size: 16px; 
          
        }
        .prix {
            font-size: 22px; 
            top: 60px;
        }
        .choix {
            line-height: 4;
            font-size: 28px; 
         }
    }
}
