@font-face {
  font-family: "Shrikhand";
  src: url(../Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: "Roboto_black";
  src: url(../Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto_light";
  src: url(../Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto_thin";
  src: url(../Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto_bold";
  src: url(../Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto_regular";
  src: url(../Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto_medium";
  src: url(../Roboto/Roboto-Medium.ttf);
}

/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
.loader {
  opacity: 1;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ff79da), color-stop(100%, #9356dc), color-stop(100%, #9356dc), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da 1%, #9356dc 100%, #9356dc 100%, #9356dc 100%);
  width: 100%;
  height: 100%;
  left: 0px;
  -webkit-animation: ground2 1.5s ease-in 2.8s 1 both;
  animation: ground2 1.5s ease-in 2.8s 1 both;
}

.loader .logo_loader {
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.loader .logo_loader svg {
  width: 50%;
  fill: black;
}

.loader p {
  text-align: center;
  font-family: "Roboto_thin";
  font-size: 14px;
}

@-webkit-keyframes ground2 {
  from {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  to {
    -webkit-transform: translatey(1000px);
    transform: translatey(1000px);
    opacity: 0;
  }
}

@keyframes ground2 {
  from {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  to {
    -webkit-transform: translatey(1000px);
    transform: translatey(1000px);
    opacity: 0;
  }
}

.loader .point {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #99e2d0;
  border-radius: 50%;
  border: 1px solid #9356dc;
  opacity: 0;
  font-family: "Shrikhand";
  font-size: 10px;
  text-align: center;
  line-height: 1.5;
  color: black;
}

.loader .ligne_point {
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 150px;
  width: calc(100% - 200px);
  padding: 0 100px;
  text-align: center;
}

.loader .ligne_point .point:nth-child(8) {
  -webkit-animation: loader 3s 100ms 3 ease-in-out;
  animation: loader 3s 100ms 3 ease-in-out;
}

.loader .ligne_point .point:nth-child(7) {
  -webkit-animation: loader 3s 200ms 3 ease-in-out;
  animation: loader 3s 200ms 3 ease-in-out;
}

.loader .ligne_point .point:nth-child(6) {
  -webkit-animation: loader 3s 300ms 3 ease-in-out;
  animation: loader 3s 300ms 3 ease-in-out;
}

.loader .ligne_point .point:nth-child(5) {
  -webkit-animation: loader 3s 400ms 3 ease-in-out;
  animation: loader 3s 400ms 3 ease-in-out;
}

.loader .ligne_point .point:nth-child(4) {
  -webkit-animation: loader 3s 500ms 3 ease-in-out;
  animation: loader 3s 500ms 3 ease-in-out;
}

.loader .ligne_point .point:nth-child(3) {
  -webkit-animation: loader 3s 600ms 3 ease-in-out;
  animation: loader 3s 600ms 3 ease-in-out;
}

.loader .ligne_point .point:nth-child(2) {
  -webkit-animation: loader 3s 700ms 3 ease-in-out;
  animation: loader 3s 700ms 3 ease-in-out;
}

.loader .ligne_point .point:nth-child(1) {
  -webkit-animation: loader 3s 800ms 3 ease-in-out;
  animation: loader 3s 800ms 3 ease-in-out;
}

@-webkit-keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
}

@keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
}

.loader_fonctionement {
  position: absolute;
  top: 200px;
  left: calc(50% - 125px);
}

.loader_fonctionement p {
  margin-left: 20px;
  font-family: "Roboto_medium";
  font-size: 18px;
}

.loader_fonctionement ol {
  font-family: "Roboto_medium";
  font-size: 16px;
}

.loader_fonctionement li {
  margin: 5px 0px 0px 0px;
}

/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
/*LOADER */
body {
  min-width: 300px;
  position: relative;
  margin: 0px auto;
  padding: 0px;
}

body a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Roboto_black", "Courier New", Courier, monospace;
}

.block1_presentation, .block2_fonction, .block3_restaurant, footer, .localisation, .logo {
  -webkit-animation: ground 2s ease-out 3.5s 1 both;
          animation: ground 2s ease-out 3.5s 1 both;
}

@-webkit-keyframes ground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.logo svg {
  fill: black;
}

.block1_presentation {
  background-color: #e4e0e0;
  width: 100%;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 10px;
}

.block1_presentation .block1_localisation {
  background-color: #ccc5c5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block1_presentation .block1_localisation i {
  font-size: 18px;
}

.block1_presentation form input {
  font-size: 20px;
  margin-left: 20px;
  background-color: #ccc5c5;
  border: none;
  padding: 10px;
}

.block1_txt_presentation h1 {
  margin: 20px 40px 10px 40px;
  font-family: "Roboto_black";
  font-size: 22px;
}

.block1_txt_presentation p {
  margin: 10px 40px 20px 40px;
  font-size: 18px;
  font-family: "Roboto_light";
}

.block1_bouton {
  margin: 25px auto  30px auto;
  cursor: pointer;
  width: 250px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ff79da), color-stop(100%, #9356dc), color-stop(100%, #9356dc), to(#9356dc));
  background-image: linear-gradient(to bottom, #ff79da 1%, #9356dc 100%, #9356dc 100%, #9356dc 100%);
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 2px 4px 9px #aaa8a8;
          box-shadow: 2px 4px 9px #aaa8a8;
  font-family: "Roboto_thin";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

.block1_bouton p {
  font-family: "Roboto_light";
  font-size: 16px;
  text-align: center;
  margin: 0px;
  padding-top: 14px;
}

.block1_bouton:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fd99e1), to(#a170dd));
  background: linear-gradient(#fd99e1, #a170dd);
  -webkit-box-shadow: 2px 4px 9px #616060;
          box-shadow: 2px 4px 9px #616060;
}

.block2_fonction {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px auto;
  padding: 10px;
}

.block2_fonction ol {
  padding: 0px;
}

.block2_fonction h1 {
  font-size: 28px;
  margin: 10px 10px 10px 20px;
  text-align: left;
  padding: 0%;
}

.fonc {
  position: relative;
  margin: 20px auto;
  width: 90%;
  height: 80px;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 2px 4px 9px #aaa8a8;
          box-shadow: 2px 4px 9px #aaa8a8;
  font-size: 14px;
  list-style-type: none;
}

.fonc .circle {
  position: absolute;
  top: 25px;
  left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #6023a9;
  text-align: center;
  font-size: 16px;
  line-height: 1.7;
  color: white;
}

.fonc i {
  position: absolute;
  left: 20px;
  top: 30px;
  margin-right: 15px;
  margin-left: 10px;
  font-size: 20px;
}

.fonc p {
  margin-left: 25px;
  font-family: "Roboto_medium";
  line-height: 5;
  font-size: 16px;
  text-align: center;
}

.fonc.fonc1, .fonc.fonc2 {
  background-color: #e4e0e0;
}

.fonc.fonc3 {
  background-color: #c9abee;
}

.block3_restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  width: 100%;
  background-color: #e4e0e0;
}

.block3_restaurant h3 {
  margin: 50px 0px 10px 5%;
  font-family: "Roboto_black";
  font-size: 28px;
}

.block3_titre {
  width: 100%;
}

.block3_cadre {
  position: relative;
  margin: 20px auto;
  width: 90%;
  max-height: 450px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.block3_cadre .nouveau {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 35px;
  background-color: #99e2d0;
  text-align: center;
  font-family: "Roboto_regular";
  font-size: 14px;
  line-height: 2.7;
  letter-spacing: 1px;
}

.block3_cadre .block3_cadre_image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.block3_cadre:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.block3_cadre_txt {
  position: absolute;
  bottom: 0px;
  overflow: hidden;
  width: 100%;
  height: 80px;
  background-color: white;
}

.block3_cadre_txt p {
  margin: 8px 0px 10px 10px;
  font-size: 16px;
  font-family: "Roboto_regular";
  line-height: 1;
}

.block3_cadre_txt h4 {
  margin: 17px 0px 0px 10px;
  font-family: "Roboto_bold";
  font-size: 20px;
  line-height: 1;
}

.coeur {
  position: absolute;
  right: 30px;
  top: 17px;
  font-size: 28px;
}

.coeur:hover {
  cursor: pointer;
}

.coeur:hover .far {
  display: none;
}

.coeur:hover .fas {
  display: inline;
}

.coeur .far {
  color: black;
}

.coeur .fas {
  display: none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #ff79da), color-stop(83%, #9356dc));
  background-image: linear-gradient(to bottom, #ff79da 27%, #9356dc 83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: coeur 0.3s ease-in;
          animation: coeur 0.3s ease-in;
}

@-webkit-keyframes coeur {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(68%, rgba(182, 97, 219, 0)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(182, 97, 219, 0) 68%, #9356dc 100%);
  }
  10% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(50%, rgba(202, 104, 219, 0)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(202, 104, 219, 0) 50%, #9356dc 100%);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(35%, rgba(218, 109, 219, 0)), color-stop(67%, #b762db), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(218, 109, 219, 0) 35%, #b762db 67%, #9356dc 100%);
  }
  30% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(22%, rgba(232, 114, 218, 0)), color-stop(59%, #c065db), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(232, 114, 218, 0) 22%, #c065db 59%, #9356dc 100%);
  }
  50% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(10%, rgba(245, 118, 218, 0)), color-stop(26%, #e470da), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(245, 118, 218, 0) 10%, #e470da 26%, #9356dc 100%);
  }
  70% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(3%, rgba(253, 120, 218, 0)), color-stop(17%, #ee73da), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(253, 120, 218, 0) 3%, #ee73da 17%, #9356dc 100%);
  }
  90% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 121, 218, 0)), color-stop(1%, rgba(255, 121, 218, 0.11)), color-stop(9%, #f676da), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 0%, rgba(255, 121, 218, 0.11) 1%, #f676da 9%, #9356dc 100%);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), color-stop(1%, #ff79da), to(#9356dc));
    background-image: linear-gradient(to bottom, #ff79da 0%, #ff79da 1%, #9356dc 100%);
  }
}

@keyframes coeur {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(68%, rgba(182, 97, 219, 0)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(182, 97, 219, 0) 68%, #9356dc 100%);
  }
  10% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(50%, rgba(202, 104, 219, 0)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(202, 104, 219, 0) 50%, #9356dc 100%);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(35%, rgba(218, 109, 219, 0)), color-stop(67%, #b762db), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(218, 109, 219, 0) 35%, #b762db 67%, #9356dc 100%);
  }
  30% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(22%, rgba(232, 114, 218, 0)), color-stop(59%, #c065db), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(232, 114, 218, 0) 22%, #c065db 59%, #9356dc 100%);
  }
  50% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(10%, rgba(245, 118, 218, 0)), color-stop(26%, #e470da), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(245, 118, 218, 0) 10%, #e470da 26%, #9356dc 100%);
  }
  70% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 121, 218, 0)), color-stop(3%, rgba(253, 120, 218, 0)), color-stop(17%, #ee73da), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 1%, rgba(253, 120, 218, 0) 3%, #ee73da 17%, #9356dc 100%);
  }
  90% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 121, 218, 0)), color-stop(1%, rgba(255, 121, 218, 0.11)), color-stop(9%, #f676da), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 0%, rgba(255, 121, 218, 0.11) 1%, #f676da 9%, #9356dc 100%);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), color-stop(1%, #ff79da), to(#9356dc));
    background-image: linear-gradient(to bottom, #ff79da 0%, #ff79da 1%, #9356dc 100%);
  }
}

footer {
  padding: 0%;
}

footer .logo {
  text-align: left;
  padding: 10px 0px 0px 30px;
}

footer .logo svg {
  width: 90px;
  height: 40px;
  fill: #ffffff;
}

footer .logo ul {
  list-style-type: none;
}

.block_footer {
  background-color: #0a0a0a;
}

.block_footer_list {
  list-style-type: none;
  color: white;
  padding: 0px 0px 20px 30px;
  margin: 0px;
  font-family: "Roboto_regular";
  color: white;
}

.block_footer_list i {
  margin-right: 10px;
  font-size: 10px;
}

.block_footer_list li {
  padding-bottom: 10px;
  font-size: 14px;
}

.block_footer_list li a {
  color: #ffffff;
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 400px) {
  .block2_fonction {
    max-width: 450px;
  }
  .fonc {
    max-width: 380px;
  }
  .fonc .circle {
    width: 25px;
    height: 25px;
    top: 25px;
    font-size: 13px;
    line-height: 2;
  }
  .fonc i {
    font-size: 22px;
    top: 27px;
  }
  .fonc p {
    font-size: 20px;
    line-height: 4;
    margin-left: 30px;
  }
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 820px) {
  .block3_restaurant {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .block3_restaurant h3 {
    margin: 0px 0px 10px 20px;
  }
  .block3_cadre {
    width: 45%;
  }
  .fonc {
    max-width: 380px;
  }
  .fonc .circle {
    width: 25px;
    height: 25px;
    top: 25px;
    font-size: 13px;
    line-height: 2;
  }
  .fonc i {
    font-size: 22px;
    top: 27px;
  }
  .fonc p {
    font-size: 20px;
    line-height: 4;
    margin-left: 30px;
  }
}

/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 930px) {
    .fonc{ 
        width: 250px;
        height: 60px;
        .circle{
            width: 25px;
            height: 25px;
            top: 20px;
            font-size: 13px;
            line-height: 2;
        }
        i{
            left: 15px;
            font-size: 20px;
            top: 18px;
        }
        p{
            font-size: 16px;
            line-height: 3.8;
            margin-left: 30px;
    }
} 
.cadre_restau{
    .coeur{
        font-size: 22px;
        top: 10px;
    }      
.image_cadre1 img{
    right: -25px;
top: -8px;
width: 129%; 
}
.image_cadre2 img{
    right: -21px;
    top: -15px;
    width: 127%;; 
}
.image_cadre3 img{
    right: -52px;
    top: -16px;
    width: 133%; 
}
.image_cadre4 img{
    right: -32px;
top: 0px;
width: 119%;
}
} 
}

*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 870px) {
    .box_fonction{
       
        padding-bottom: 20px;
    }
    .cadre_restau{ 
        height: 180px;    
        line-height: 8px;
        .nouveau{
            width: 60px;
            height: 17px;
            font-size: 10px;
        }
    .txt_cadre{ 
        height: 50px;
        h4{
            font-size: 13px ;
            margin: 10px 0px 0px 10px;
        }
        p{
            font-size: 11px;
            margin: 5px 0px 10px 10px;   
        }
        .coeur{
            top: 10px;
           
        }
    }
.image_cadre1 img{
    right: -15px;
top: -25px;
width: 124%;
}
.image_cadre2 img{
    right: -22px;
top: -30px;
width: 119%; 
}
.image_cadre3 img{
    right: -35px;
top: -24px;
width: 124%; 
}
.image_cadre4 img{
    right: -11px;
top: -9px;
width: 112%;
}
} 

}
*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 780px) {
    .block1{
        width: 100%;
        border-radius: 0px;
        .localisation{
            border-radius: 0px;
        }
    }
    .cadre_restau{ 
        width: 45%;
        height: 200px;    
    .txt_cadre{ 
        height: 60px;
        h4{
            font-size: 14px ;
            margin: 10px 0px 0px 10px;
        }
        p{
            font-size: 13px;
            margin: 8px 0px 10px 10px;   
        }
        .coeur{
            top: 10px;
            right: 24px;
            font-size: 20px;
        }
    }
.image_cadre1 img{
    right: -20px;
    top: -9px;
width: 115%;
}
.image_cadre2 img{
    right: -21px;
    top: -18px;
width: 115%; 
}
.image_cadre3 img{
    right: -49px;
top: -38px;
width: 134%;
}
.image_cadre4 img{
    right: -32px;
top: -24px;
width: 121%;
}
} 
footer{
    margin: 0px;
}
}*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 740px) {
    .box_fonc_rest {
        
        flex-direction: column;
        justify-content: space-between;
    
    } 
    .box_fonction{
        width: 100%;
        margin-left: 0px;
        
    }
    .txt_fonction{
        font-size: 30px;
        margin:30px 0px 20px 8%;
        text-align: left;
    }
    .fonc{
        width: 80%;
        height: 80px;
        .circle{
            font-size: 16px; 
            top: 25px;
        left: -15px;
        width: 30px;
        height: 30px; 
        }
        i{
            top: 25px;
            font-size: 28px;
            left: 37px; 
        }
        p{
            line-height: 3;
            font-size: 24px;

        }
    }
    .restaurants{
        flex-direction: column;
        border-radius: 0px;
        margin: 0px;
        width: 100%;
        h3{
            text-align: left; 
            font-size: 30px;
            margin: 0px 0px 20px 8%; 
        }
    }
    
    .cadre_restau{ 
        width: 85%;
        height: 300px; 
        .nouveau{
            top: 15px;
            right: 20px;
            width: 90px;
            height: 30px; 
            font-size: 14px;
            line-height: 2.2; 
        }   
    .txt_cadre{ 
        height: 70px;
        h4{
            font-size: 18px ;
            margin: 20px 0px 0px 10px;
        }
        p{
            font-size: 16px;
            margin: 13px 0px 10px 10px;   
        }
        .coeur{
            top: 16px;
            right: 24px;
            font-size: 28px;
        }
      
    }
.image_cadre1 img{
    right: -41px;
    top: -111px;
    width: 115%;
}
.image_cadre2 img{
    right: -21px;
    top: -109px;
    width: 110%;
}
.image_cadre3 img{
    
    right: -31px;
    top: -89px;
    width: 112%;
}
.image_cadre4 img{
    right: -24px;
top: -140px;
width: 110%;
}
}   
}*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 580px) {
    .fonc{
       
        height: 70px;
        .circle{
            font-size: 16px; 
            top: 20px;
        }
        i{
            top: 21px;
            font-size: 24px;
            left: 37px; 
        }
        p{
            line-height: 3.1;
            font-size: 22px;
            margin-left: 0px;
        }
    }
    .cadre_restau{ 
        width: 90%;
    
.image_cadre1 img{
    right: -24px;
top: -85px;
width: 110%;
}
.image_cadre2 img{
    right: -24px;
top: -109px;
width: 110%;
}
.image_cadre3 img{
    
    right: -8px;
top: -107px;
width: 105%;
}
.image_cadre4 img{
    
    right: -24px;
top: -134px;
width: 110%;
}
} 
}*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 540px) {
    .cadre_restau{ 
        width: 90%;
        height: 350px;

.image_cadre1 img{
    right: -60px;
    top: -64px;
    width: 130%;
}
.image_cadre2 img{
    right: -24px;
top: -56px;
width: 114%;
}
.image_cadre3 img{
    
    right: -64px;
    top: -50px;
width: 120%;
}
.image_cadre4 img{
    
    right: -24px;
    top: -30px;
width: 110%;
}
} 
}*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 490px) {
    .fonc{
       
        i{
            top: 21px;
           
            left: 25px; 
        }
        p{
            
            margin-left: 10px;
        }
    }
    .cadre_restau{ 
        width: 90%;
        height: 300px;

.image_cadre1 img{
    right: -20px;
top: -60px;
width: 110%;
}
.image_cadre2 img{
    right: -10px;
    top: -65px;
    width: 105%;
}
.image_cadre3 img{
    
    right: -7px;
    top: -55px;
    width: 103%;
}
.image_cadre4 img{
    
    right: -2px;
top: -56px;
width: 101%;
}
} 
}*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 460px) {
    .fonc{
       
        i{
            top: 22px;
           font-size:22px ;
            left: 28px; 
        }
        p{
            font-size: 18px;
            margin-left: 10px;
            line-height: 3.6;
        }
    }
    .cadre_restau{ 

.image_cadre1 img{
    right: -20px;
    top: -48px;
width: 110%;
}
.image_cadre2 img{
    right: -12px;
    top: -51px;
    width: 106%;;
}
.image_cadre3 img{
    
    right: -12px;
    top: -37px;
    width: 106%;;
}
.image_cadre4 img{
    right: -2px;
    top: -37px;
    width: 103%;
}
}  
}*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 420px) {
    .fonc{
       
        p{
            font-size: 18px;
            margin-left: 35px;
            line-height: 3.7;
        }
    }
    .cadre_restau{ 
height: 280px;
        }  
}*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 400px) {
    .cadre_restau{ 

        .image_cadre1 img{
            right: -20px;
            top: -30px;
        width: 110%;
        }
        .image_cadre2 img{
            right: -12px;
            top: -40px;
            width: 106%;;
        }
        .image_cadre3 img{
            
            right: -12px;
            top: -29px;
            width: 106%;;
        }
        .image_cadre4 img{
            right: -6px;
top: -27px;
width: 103%;
        }
        }   
}*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 375px) {
    .fonc{
        p{
            font-size: 18px;
            margin-left: 45px;
            line-height: 3.7;
        }
    } 
    .cadre_restau{ 

        .image_cadre1 img{  
            right: -20px;
            top: -4px;
        width: 110%;
        }
        .image_cadre2 img{
            right: -12px;
            top: -20px;
            width: 106%;;
        }
        .image_cadre3 img{
            
            right: -12px;
            top: -12px;
            width: 106%;;
        }
        .image_cadre4 img{
            right: -6px;
top: -10px;
width: 103%;
        }
        }   
}*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 360px) {
    .fonc{
       
        
        p{
            font-size: 17px;
            margin-left: 45px;
            line-height: 4;
        }
    } 

    }*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 350px) {
    .fonc{ 
        .circle{
            font-size: 14px;
            top: 22px;
            width: 25px;
            height: 25px;   
        }
        i{
            top: 24px;
           font-size:18px ;
            left: 20px; 
        }
        p{
            font-size: 18px;
            margin-left: 40px;
            line-height: 3.9;
        }
    } 
    .cadre_restau{ 
        .image_cadre1 img{
            top: -16px;
            width: 130%;
        }

        .image_cadre2 img{
            top: -10px;
        }
        .image_cadre3 img{
            right: -22px;
            top: 0px;
            width: 111%;
        }
        .image_cadre4 img{
            top: 0px;
        }
        .image_cadre4 img{
            right: -35px;
            top: 0px;
            width: 115%;
        }
        }   
}*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------
@media screen and (max-width: 320px) {
    .fonc{ 
        i{
            top: 24px;
           font-size:18px ;
            left: 15px; 
        }
        p{
            font-size: 17px;
            margin-left: 40px;
            line-height: 4;
        }
    }
    .cadre_restau{ 
        

        .image_cadre2 img{
            right: -20px;

width: 115%;
        }
        .image_cadre3 img{
            right: -36px;
            top: 0px;
            width: 116%;
        }
        .image_cadre4 img{
            right: -35px;
top: -9px;
width: 119%;
        }
        } 
}*/
/*# sourceMappingURL=style_index.css.map */