@font-face {
  font-family: "Shrikhand";
  src: url(../Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: "Roboto_black";
  src: url(../Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto_light";
  src: url(../Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto_thin";
  src: url(../Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto_bold";
  src: url(../Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto_regular";
  src: url(../Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto_medium";
  src: url(../Roboto/Roboto-Medium.ttf);
}

.loader {
  opacity: 1;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ff79da), color-stop(100%, #9356dc), color-stop(100%, #9356dc), to(#9356dc));
  background: linear-gradient(to bottom, #ff79da 1%, #9356dc 100%, #9356dc 100%, #9356dc 100%);
  width: 100%;
  height: 100%;
  -webkit-animation: ground2 1.5s ease-in 2.8s 1 both;
          animation: ground2 1.5s ease-in 2.8s 1 both;
}

.loader .logo_loader {
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.loader .logo_loader svg {
  width: 50%;
  fill: black;
}

.loader .txt_loader p {
  text-align: center;
  font-family: "Roboto_thin";
  font-size: 14px;
}

@-webkit-keyframes ground2 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes ground2 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}

.loader .point {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #99e2d0;
  border-radius: 50%;
  border: 1px solid #9356dc;
  opacity: 0;
}

.loader .ligne_point {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 150px;
  width: calc(100% - 200px);
  padding: 0 100px;
  text-align: center;
}

.loader .ligne_point .point:nth-child(6) {
  -webkit-animation: loader 3s 3 ease-in-out;
          animation: loader 3s 3 ease-in-out;
}

.loader .ligne_point .point:nth-child(5) {
  -webkit-animation: loader 3s 100ms 3 ease-in-out;
          animation: loader 3s 100ms 3 ease-in-out;
}

.loader .ligne_point .point:nth-child(4) {
  -webkit-animation: loader 3s 200ms 3 ease-in-out;
          animation: loader 3s 200ms 3 ease-in-out;
}

.loader .ligne_point .point:nth-child(3) {
  -webkit-animation: loader 3s 300ms 3 ease-in-out;
          animation: loader 3s 300ms 3 ease-in-out;
}

.loader .ligne_point .point:nth-child(2) {
  -webkit-animation: loader 3s 400ms 3 ease-in-out;
          animation: loader 3s 400ms 3 ease-in-out;
}

.loader .ligne_point .point:nth-child(1) {
  -webkit-animation: loader 3s 500ms 3 ease-in-out;
          animation: loader 3s 500ms 3 ease-in-out;
}

@-webkit-keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

body {
  margin: 0px;
  padding: 0px;
}

body a {
  text-decoration: none;
  color: black;
}

.restaurants, footer, .localisation, .box_fonction, .block1, .logo {
  -webkit-animation: ground 2s ease-out 3.5s 1 both;
          animation: ground 2s ease-out 3.5s 1 both;
}

@-webkit-keyframes ground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.logo svg {
  fill: black;
}

.block1 {
  background-color: #e4e0e0;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.block1 .localisation {
  background-color: #ccc5c5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block1 .localisation .txt-entete {
  margin: 800px 80px;
}

.block1 .localisation form input {
  margin-left: 20px;
  background-color: #ccc5c5;
  border: none;
  padding: 10px;
}

.block1 .txt_entete h1 {
  margin: 20px 40px 10px 40px;
  font-family: "Roboto_black";
  font-size: 20px;
}

.block1 .txt_entete p {
  margin: 10px 40px 20px 40px;
  font-size: 14px;
  font-family: "Roboto_light";
}

.bouton {
  font-family: "Roboto_thin";
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ff79da), color-stop(100%, #9356dc), color-stop(100%, #9356dc), to(#9356dc));
  background-image: linear-gradient(to bottom, #ff79da 1%, #9356dc 100%, #9356dc 100%, #9356dc 100%);
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 2px 4px 9px #aaa8a8;
          box-shadow: 2px 4px 9px #aaa8a8;
  margin: 25px auto  30px auto;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

.bouton p {
  font-family: "Roboto_light";
  font-size: 12px;
  text-align: center;
  margin: 0px;
  padding-top: 10px;
}

.bouton:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fd99e1), to(#a170dd));
  background: linear-gradient(#fd99e1, #a170dd);
  -webkit-box-shadow: 2px 4px 9px #616060;
          box-shadow: 2px 4px 9px #616060;
}

.box_fonction {
  font-family: "Roboto_bold";
  padding: 15px auto;
}

.box_fonction .txt_fonction {
  font-family: "Roboto_black";
  font-size: 20px;
  margin: 10px auto;
  padding-left: 10%;
}

.box_fonction ol {
  padding: 0px;
}

.fonc {
  position: relative;
  width: 250px;
  height: 40px;
  font-size: 14px;
  margin: 20px auto;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: 2px 4px 9px #aaa8a8;
          box-shadow: 2px 4px 9px #aaa8a8;
  padding-top: 17px;
  list-style-type: none;
}

.fonc i {
  position: absolute;
  left: 25px;
  top: 18px;
  margin-right: 15px;
}

.fonc svg {
  position: absolute;
  fill: #6023a9;
  left: -10px;
}

.fonc p {
  margin: 0px 0px 0px 55px;
}

.fonc.fonc1, .fonc.fonc2 {
  background-color: #e4e0e0;
}

.fonc.fonc3 {
  background-color: #c9abee;
}

.restaurants {
  background-color: #e4e0e0;
  padding-bottom: 20px;
}

.restaurants h3 {
  font-family: "Roboto_black";
  margin-left: 20px;
}

.cadre_restau {
  position: relative;
  width: 85%;
  height: 200px;
  margin: 20px auto;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.cadre_restau .txt_cadre {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 50px;
  bottom: 0px;
  line-height: 10px;
}

.cadre_restau p {
  font-size: 10px;
  margin: 8px 0px 10px 10px;
  font-family: "Roboto_regular";
}

.cadre_restau h4 {
  font-family: "Roboto_bold";
  font-size: 12px;
  margin: 10px 0px 0px 10px;
}

.cadre_restau img {
  width: 100%;
  -o-object-position: 0px -30px;
     object-position: 0px -30px;
}

.cadre_restau .coeur {
  position: absolute;
  right: 20px;
  top: 20px;
}

.cadre_restau .coeur:hover {
  cursor: pointer;
}

.cadre_restau .coeur:hover .far {
  display: none;
}

.cadre_restau .coeur:hover .fas {
  display: inline;
}

.coeur .far {
  font-size: 16px;
  color: black;
}

.coeur .fas {
  display: none;
  font-size: 16px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #ff79da), color-stop(83%, #9356dc));
  background-image: linear-gradient(to bottom, #ff79da 27%, #9356dc 83%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: test 0.5s ease-in;
          animation: test 0.5s ease-in;
}

@-webkit-keyframes test {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, rgba(255, 121, 218, 0)), color-stop(47%, rgba(216, 109, 219, 0)), color-stop(63%, rgba(185, 99, 219, 0)), color-stop(83%, rgba(147, 86, 220, 0.54)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 27%, rgba(216, 109, 219, 0) 47%, rgba(185, 99, 219, 0) 63%, rgba(147, 86, 220, 0.54) 83%, #9356dc 100%);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, rgba(255, 121, 218, 0)), color-stop(40%, rgba(230, 113, 218, 0)), color-stop(83%, rgba(147, 86, 220, 0.72)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 27%, rgba(230, 113, 218, 0) 40%, rgba(147, 86, 220, 0.72) 83%, #9356dc 100%);
  }
  40% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(21%, rgba(255, 121, 218, 0)), color-stop(27%, rgba(255, 121, 218, 0.08)), color-stop(83%, rgba(147, 86, 220, 0.79)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 21%, rgba(255, 121, 218, 0.08) 27%, rgba(147, 86, 220, 0.79) 83%, #9356dc 100%);
  }
  60% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(9%, rgba(255, 121, 218, 0.09)), color-stop(27%, rgba(255, 121, 218, 0.27)), color-stop(83%, rgba(147, 86, 220, 0.83)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0.09) 9%, rgba(255, 121, 218, 0.27) 27%, rgba(147, 86, 220, 0.83) 83%, #9356dc 100%);
  }
  80% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 121, 218, 0.09)), color-stop(27%, rgba(255, 121, 218, 0.34)), color-stop(83%, rgba(147, 86, 220, 0.85)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0.09) 0%, rgba(255, 121, 218, 0.34) 27%, rgba(147, 86, 220, 0.85) 83%, #9356dc 100%);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #ff79da), color-stop(83%, #9356dc));
    background-image: linear-gradient(to bottom, #ff79da 27%, #9356dc 83%);
  }
}

@keyframes test {
  0% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, rgba(255, 121, 218, 0)), color-stop(47%, rgba(216, 109, 219, 0)), color-stop(63%, rgba(185, 99, 219, 0)), color-stop(83%, rgba(147, 86, 220, 0.54)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 27%, rgba(216, 109, 219, 0) 47%, rgba(185, 99, 219, 0) 63%, rgba(147, 86, 220, 0.54) 83%, #9356dc 100%);
  }
  20% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, rgba(255, 121, 218, 0)), color-stop(40%, rgba(230, 113, 218, 0)), color-stop(83%, rgba(147, 86, 220, 0.72)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 27%, rgba(230, 113, 218, 0) 40%, rgba(147, 86, 220, 0.72) 83%, #9356dc 100%);
  }
  40% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(21%, rgba(255, 121, 218, 0)), color-stop(27%, rgba(255, 121, 218, 0.08)), color-stop(83%, rgba(147, 86, 220, 0.79)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0) 21%, rgba(255, 121, 218, 0.08) 27%, rgba(147, 86, 220, 0.79) 83%, #9356dc 100%);
  }
  60% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(9%, rgba(255, 121, 218, 0.09)), color-stop(27%, rgba(255, 121, 218, 0.27)), color-stop(83%, rgba(147, 86, 220, 0.83)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0.09) 9%, rgba(255, 121, 218, 0.27) 27%, rgba(147, 86, 220, 0.83) 83%, #9356dc 100%);
  }
  80% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 121, 218, 0.09)), color-stop(27%, rgba(255, 121, 218, 0.34)), color-stop(83%, rgba(147, 86, 220, 0.85)), to(#9356dc));
    background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0.09) 0%, rgba(255, 121, 218, 0.34) 27%, rgba(147, 86, 220, 0.85) 83%, #9356dc 100%);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(27%, #ff79da), color-stop(83%, #9356dc));
    background-image: linear-gradient(to bottom, #ff79da 27%, #9356dc 83%);
  }
}

footer {
  margin: 0%;
  padding: 0%;
}

footer .logo {
  text-align: left;
  padding: 10px 0px 0px 30px;
}

footer .logo svg {
  width: 90px;
  height: 40px;
  fill: #ffffff;
}

footer .logo ul {
  list-style-type: none;
}

.cadre_footer {
  background-color: #0a0a0a;
}

.list_footer {
  list-style-type: none;
  color: white;
  padding: 0px 0px 20px 30px;
  margin: 0px;
  font-family: "Roboto_regular";
  color: white;
}

.list_footer i {
  margin-right: 10px;
  font-size: 10px;
}

.list_footer li {
  padding-bottom: 10px;
  font-size: 14px;
}
/*# sourceMappingURL=style_index.css.map */