@import "page_import.scss";

/*LOADER *//*LOADER *//*LOADER *//*LOADER *//*LOADER *//*LOADER */
/*LOADER *//*LOADER *//*LOADER *//*LOADER *//*LOADER *//*LOADER */

.loader {
   
    opacity: 1;
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ff79da), color-stop(100%, #9356dc), color-stop(100%, #9356dc), to(#9356dc));
    background: linear-gradient(to bottom, #ff79da 1%, #9356dc 100%, #9356dc 100%, #9356dc 100%);
    width: 100%;
    height: 100%;
    left: 0px;
    -webkit-animation: ground2 1.5s ease-in 2.8s 1 both;
            animation: ground2 1.5s ease-in 2.8s 1 both;
   
        }
  .loader .logo_loader {
    text-align: center;
    padding: 20px 0px 10px 0px;
  }
  .loader .logo_loader svg {
    width: 50%;
    fill: black;
  }
  .loader p {
    text-align: center;
    font-family: "Roboto_thin";
    font-size: 14px;
  }
  @-webkit-keyframes ground2 {
    0% {
      -webkit-transform: translatey(0px);
              transform: translatey(0px);
    }
   100% {
      -webkit-transform: translatey(1000px);
              transform: translatey(1000px);
      opacity: 0;
    }
  }
  @keyframes ground2 {
    0% {
        
      -webkit-transform: translatey(0px);
              transform: translatey(0px);
    }
    100% {
      -webkit-transform: translatey(1000px);
              transform: translatey(1000px);
      opacity: 0;
    }
  }
  .loader .point {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: $couleur_tertiaire;
    border-radius: 50%;
    border: 1px solid $couleur_primaire;
    opacity: 0;
    font-family:  $font_Shrikhand;
    font-size: 10px;
    text-align: center;
    line-height: 1.5;
    color:$couleur_loge;
  }
  .loader .ligne_point {
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 150px;
    width: calc(100% - 200px);
    padding: 0 100px;
    text-align: center;
  }
  .loader .ligne_point .point:nth-child(8) {
    -webkit-animation: loader 3s 100ms 3 ease-in-out;
            animation: loader 3s 100ms 3 ease-in-out;
  }
  .loader .ligne_point .point:nth-child(7) {
    -webkit-animation: loader 3s 200ms 3 ease-in-out;
            animation: loader 3s 200ms 3 ease-in-out;
  }
  .loader .ligne_point .point:nth-child(6) {
    -webkit-animation: loader 3s 300ms 3 ease-in-out;
            animation: loader 3s 300ms 3 ease-in-out;
  }
  .loader .ligne_point .point:nth-child(5) {
    -webkit-animation: loader 3s 400ms 3 ease-in-out;
            animation: loader 3s 400ms 3 ease-in-out;
  }
  .loader .ligne_point .point:nth-child(4) {
    -webkit-animation: loader 3s 500ms 3 ease-in-out;
            animation: loader 3s 500ms 3 ease-in-out;
  }
  .loader .ligne_point .point:nth-child(3) {
    -webkit-animation: loader 3s 600ms 3 ease-in-out;
            animation: loader 3s 600ms 3 ease-in-out;
  }
  .loader .ligne_point .point:nth-child(2) {
    -webkit-animation: loader 3s 700ms 3 ease-in-out;
            animation: loader 3s 700ms 3 ease-in-out;
  }
  .loader .ligne_point .point:nth-child(1) {
    -webkit-animation: loader 3s 800ms 3 ease-in-out;
            animation: loader 3s 800ms 3 ease-in-out;
  }
@-webkit-keyframes loader {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-60px);
              transform: translateX(-60px);
    }
    33% {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    66% {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(60px);
              transform: translateX(60px);
    }
  }
.loader_fonctionement {
    position: absolute;
    top: 200px;
    left: calc(50% - 125px);
    p {
        margin-left: 20px;

        text-decoration: underline;
        font-family:  $font_medium;
        font-size: 18px; 
    }
    ol {
        font-family:  $font_medium;
        font-size: 16px;
    }
    li {
        margin: 5px 0px 0px 0px;
    }
}

/*LOADER *//*LOADER *//*LOADER *//*LOADER *//*LOADER *//*LOADER */
/*LOADER *//*LOADER *//*LOADER *//*LOADER *//*LOADER *//*LOADER */
body {
    min-width: 300px;
    position: relative;
    margin: 0px auto;
    padding: 0px;
    a {
        text-decoration: none;
        color: $couleur_loge
    }
}
h1 {
    font-family:  $font_black, 'Courier New', Courier, monospace;
}
.block1_presentation, .block2_fonction,  .block3_restaurant, footer, .localisation, .logo{
    animation: ground 2s/*0.5s*/ ease-out 3.5s/*0.5s*/ 1 both;
}
@keyframes ground {
    from {
        opacity: 0; 
    }
    to {
       opacity: 1;   
    }
  }
.logo {
    text-align: center;
    padding: 20px 0px 10px 0px;
    svg {
        fill: $couleur_loge
    }
}
.block1_presentation {
    background-color:$couleur_gris;
    width: 100%;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 10px;
    .block1_localisation {
        background-color:darken($color: $couleur_gris, $amount: 10);
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        i {
            font-size: 18px;
        }
    }
    form input {
        font-size: 20px;
        margin-left: 20px;
        background-color:darken($color: $couleur_gris, $amount: 10);
        border: none; 
        padding: 10px;
    }
}
.block1_txt_presentation {   
    h1 { margin: 20px 40px 10px 40px;
        font-family:$font_black;
        font-size: 22px;
    }
    p {
        margin: 10px 40px 20px 40px;
        font-size: 18px;
        font-family:$font_light;
    }   
}
.block1_bouton {
    margin: 25px auto  30px auto;
    cursor: pointer;

    width: 250px;
    height: 50px;
    
    background-image:$degrade; 
    border-radius: 25px;
    border: none;
    box-shadow: $shadow;
    
    font-family:$font_thin;
   
    transition:0.3s;
     /*si la couleur de fond du bouton s'eclairsi, le texte change de couleur*/
    @if (lightness($couleur_primaire) > 50%) {
        color:$couleur_blanc;
    }
    @else {
        color: $couleur_loge;
    }
    p {
        font-family:$font_light;
        font-size: 16px;
        text-align: center;
        margin: 0px;
        padding-top: 14px;
    }
    &:hover {
        background:  $hover_bouton_couleur;
        box-shadow: $hover_bouton_shadow          
    } 
}
.block2_fonction {
    justify-content: space-evenly;
    margin: 20px auto;
    padding: 10px;  
    ol {
        padding: 0px;
    }
    h1 {
        font-size: 28px;
        margin:10px 10px 10px 20px;
        text-align: left;
        padding: 0%;
    }
}
.fonc { 
    position: relative;
    margin: 20px auto;

    width: 90%;
    height: 80px;
   
    border: none ;
    border-radius: 20px;
    box-shadow: $shadow;

    font-size: 14px;
    list-style-type: none;
    .circle {
        position: absolute;
        top: 25px;
        left: -15px;
   
        width: 30px;
        height: 30px;

        border-radius: 50%;
        background-color: darken($color: $couleur_primaire, $amount: 50);

        text-align: center;
        font-size: 16px;
        line-height: 1.7;
        color: $couleur_blanc;
    }
    i {
        position: absolute;
        left: 20px;
        top: 30px;

        margin-right: 15px;
        margin-left: 10px;

        font-size: 20px;
    }
    p {
        margin-left: 25px;

        font-family: $font_medium;
        line-height: 5;
        font-size: 16px;
        text-align: center;
    }
    &.fonc1, &.fonc2 {background-color: $couleur_gris;
    }
    &.fonc3 { background-color:lighten($color: $couleur_primaire, $amount: 1);  
      }
}
.block3_restaurant { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;

    width: 100%;

    background-color: $couleur_gris;
    h3 {
        margin: 50px 0px 10px 5%;

        
        font-family:  $font_black;
        font-size: 28px;
    }
}
.block3_titre {
    width: 100%;
}
.block3_cadre {
    position: relative;
    margin:20px auto;
 
    width: 90%;
    max-height: 450px;

    border: none;
    border-radius: 10px;
    overflow: hidden;
 .nouveau { 
     position: absolute;
     top: 20px;
     right: 20px;

     width: 100px;
     height: 35px;

     background-color: $couleur_tertiaire;
     
     text-align: center;
     font-family:   $font_regular;
     font-size: 14px;
     line-height: 2.7;
     letter-spacing: 1px;
    }  
    .block3_cadre_image img {
        object-fit: cover;
        width: 100%;
    }
}
.block3_cadre:hover {
    transform: scale(1.02);
    transition: 0.4s;
}
.block3_cadre_txt {
    position: absolute;
    bottom: 0px;
    overflow: hidden;

    width: 100%;
    height: 80px;
    
    background-color: $couleur_blanc;
    p {
    margin: 8px 0px 10px 10px;

    font-size: 16px;
    font-family:$font_regular;
    line-height: 1;
    } 
    h4 {
    margin: 17px 0px 0px 10px;

    font-family:  $font_bold;
    font-size: 20px;
    line-height: 1;
    }
}
.coeur {
    position: absolute;
    right: 30px;
    top: 17px;

    font-size: 28px; 
    &:hover {
        cursor: pointer;
        .far {
            display: none;
        }
        .fas {
            display: inline;
        }
    }
}
.coeur .far {
    color:black; 
}
.coeur .fas {
    display:none;
    background-image: linear-gradient(to bottom, $couleur_secondaire 27%,$couleur_primaire 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: coeur 0.3s ease-in both;
    }
@keyframes coeur {
    0% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 1%,rgba(182,97,219,0) 68%,rgba(147,86,220,1) 100%);
    }
    10% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 1%,rgba(202,104,219,0) 50%,rgba(147,86,220,1) 100%);
    }
    20% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 1%,rgba(218,109,219,0) 35%,rgba(183,98,219,1) 67%,rgba(147,86,220,1) 100%);
    }
    30% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 1%,rgba(232,114,218,0) 22%,rgba(192,101,219,1) 59%,rgba(147,86,220,1) 100%);
    }
    50% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 1%,rgba(245,118,218,0) 10%,rgba(228,112,218,1) 26%,rgba(147,86,220,1) 100%);
    }
    70% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 1%,rgba(253,120,218,0) 3%,rgba(238,115,218,1) 17%,rgba(147,86,220,1) 100%);
    }
    90% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,0) 0%,rgba(255,121,218,0.11) 1%,rgba(246,118,218,1) 9%,rgba(147,86,220,1) 100%);
    }
    100% {
        background-image:linear-gradient(to bottom, rgba(255,121,218,1) 0%,rgba(255,121,218,1) 1%,rgba(147,86,220,1) 100%);
    }
}
footer {
    padding: 0%;
    .logo { 
        text-align: left;
        padding: 10px 0px 0px 30px;
        svg { 
            width: 90px;
            height: 40px; 
                @if (lightness($couleur_footer) > 50%) {
                    fill: $couleur_loge;
                }
                @else {
                    fill:$couleur_blanc
                }
        }
        ul {
            list-style-type: none;
        }
    }
}
footer {
    background-color:$couleur_footer;
}
.block_footer_list {
    list-style-type: none;
    color: $couleur_txt_footer;
    padding: 0px 0px 20px 30px;
    margin: 0px;
    font-family: $font_regular ;
    @if (lightness($couleur_footer) < 50%) {
        color:$couleur_blanc;
        }
    @else {
        color: $couleur_loge;
        }
    i {
        margin-right: 10px;
        font-size: 10px ;  
    }
    li {
        padding-bottom: 10px;
        font-size: 14px; 
        a {
            color:$couleur_blanc;
            @if (lightness($couleur_footer) < 50%) {
                color:$couleur_blanc;
                }
            @else {
                color: $couleur_loge;
                }
            &:hover{
                text-decoration: underline;
            }
        }
         
    }
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 400px) {
    .block2_fonction {
       max-width: 450px;
    }  
    .fonc { 
     max-width: 380px;
        .circle {
            width: 25px;
            height: 25px;
            top: 25px;
            font-size: 13px;
            line-height: 2;
        }
        i {
           
            font-size: 22px;
            top: 27px;
        }
        p {
            font-size: 20px;
           line-height: 4;
            margin-left: 30px;
        }
    } 
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*--------------------@media query--------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 820px) {
    .block3_restaurant {
        flex-direction: row; 
        h3 {
            margin: 0px 0px 10px 20px;
        } 
    }
    .block3_cadre {
        width: 45%;
    }
    .fonc { 
        max-width: 380px;
        .circle {
            width: 25px;
            height: 25px;
            top: 25px;
            font-size: 13px;
               line-height: 2;
        }
        i { 
            font-size: 22px;
            top: 27px;
        }
        p {
            font-size: 20px;
            line-height: 4;
            margin-left: 30px;
       }
   } 
} 
